html, body {
    padding: 0;
    margin: 0;
    background-color: white;
}
a {
    color: inherit;
    text-decoration: inherit;
}
#spotlight-container {
    width:100%;
    height:85vh;
    background: linear-gradient(45deg, rgba(173,50,255,0.4) 0%, rgba(0, 0, 0, 0) 100%), url('spotlight-image.jpg') no-repeat;
    background-size:cover;
}
#navbar {
    width:100%;
    height:auto;
    background-color: #262626;
}
#navbar-inner {
    width:1250px;
    margin-left:auto;
    margin-right:auto;
    height: 80px;
    line-height: 80px;
}
#navbar-inner img {
    float: left;
    margin-top:22px;
    padding-right: 30px;
    border-right: 1px solid #444444;
}
#navbar-inner a {
    float: left;
    padding-left:35px;
    padding-right:35px;
    font-family: 'Kanit', sans-serif;
    font-weight:500;
    color: #e4e4e4;
    font-size:16px;
    text-decoration: none;
    transition: 0.3s;
}
#navbar-inner a:hover {
    background-color: white;
    color:black;
    transition: 0.3s;
}
#shop-info {
    margin-top:10px;
    width:240px;
    height:70px;
    line-height:30px;
    float: right;
}
#shop-info span {
    font-size:13px;
    margin-left:10px;
    color: white;
    font-family: 'Raleway', sans-serif;
}
#shop-info i {
    color: deeppink;
}
#page-header {
    width:100%;
    background-color: white;
    height:100px;
    border-bottom:1px #eaeaec solid;
}
#page-header-inner {
    width:1250px;
    height:100px;
    line-height:100px;
    margin-left:auto;
    margin-right:auto;
}
#page-header-inner h2 {
    font-family: 'Raleway', sans-serif;
    color: #191919;
    font-size:30px;
    margin:0;
    padding:0;
}
#page-header-inner i{
    padding-left:22px;
    padding-right:22px;
    margin-right:20px;
    margin-top:20px;
    padding-top:10px;
    padding-bottom:10px;
    float: left;
    color: white;
    font-size:40px;
    background: linear-gradient(135deg, rgba(50,255,156,1) 0%,rgba(0,130,229,1) 100%);
    border-radius:150px;
}
#content-container {
    width:1250px;
    margin-top:35px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    text-align: right;
    margin-bottom:150px;
}
#content-container img {
    float: right;
    margin-left:25px;
    border:3px #00ecff solid;
}
#content-container h3 {
    font-family: 'Raleway', sans-serif;
    color: #191919;
    font-size:26px;
}
#content-container p {
    font-family: 'Raleway', sans-serif;
    color: #191919;
    font-size:16px;
}
#footer {
    background-color: #3b3e43;
    width:100%;
    height:250px;
    padding-top:50px;
}
#footer-inner {
    width:1250px;
    height:200px;
    margin-left:auto;
    line-height:200px;
    margin-right:auto;
}
#footer-inner img {
    float: left;
    margin-top:65px;
}
#footer-quick {
    width:300px;
    display: inline-block;
    margin-left:30px;
    height:160px;
    margin-top:15px;
    line-height: 20px;
}
#footer-quick h2 {
    font-family:'Raleway', sans-serif;
    font-size:20px;
    color: #eeeeee;
}
#footer-quick a {
    margin:0;
    padding:0;
    font-family:'Raleway', sans-serif;
    font-size:14px;
    color: #bababa;
}
#footer-quick a:hover {
    color: white;
}
#footer-right {
    width:300px;
    margin-top:10px;
    height: 80px;
    line-height:30px;
    float: right;
    text-align: left;
}
#footer-right h2 {
    font-family:'Raleway', sans-serif;
    font-size:20px;
    color: #eeeeee;
}
#footer-right span {
    font-size:13px;
    margin-left:10px;
    color: white;
    font-family: 'Raleway', sans-serif;
}
#footer-right i {
    color: deeppink;
}
#footer h3 {
    font-family:'Raleway', sans-serif;
    font-size:12px;
    color: #7d7d7d;
    text-align: center;
}