html, body {
    padding: 0;
    margin: 0;
    background-color: #eaeaec;
}
a {
    color: inherit;
    text-decoration: inherit;
}
#spotlight-container {
    width:100%;
    height:85vh;
    background: linear-gradient(45deg, rgba(173,50,255,0.4) 0%, rgba(0, 0, 0, 0) 100%), url('spotlight-image.jpg') no-repeat;
    background-size:cover;
}
#navbar {
    width:100%;
    height:auto;
    background-color: #262626;
}
#navbar-inner {
    width:1250px;
    margin-left:auto;
    margin-right:auto;
    height: 80px;
    line-height: 80px;
}
#navbar-inner img {
    float: left;
    margin-top:22px;
    padding-right: 30px;
    border-right: 1px solid #444444;
}
#navbar-inner a {
    float: left;
    padding-left:35px;
    padding-right:35px;
    font-family: 'Kanit', sans-serif;
    font-weight:500;
    color: #e4e4e4;
    font-size:16px;
    text-decoration: none;
    transition: 0.3s;
}
#navbar-inner a:hover {
    background-color: white;
    color:black;
    transition: 0.3s;
}
#shop-info {
    margin-top:10px;
    width:240px;
    height:70px;
    line-height:30px;
    float: right;
}
#shop-info span {
    font-size:13px;
    margin-left:10px;
    color: white;
    font-family: 'Raleway', sans-serif;
}
#shop-info i {
    color: deeppink;
}
#spotlight-content {
    margin-top: 15vh;
    width:1250px;
    margin-left:auto;
    margin-right:auto;
}
#spotlight-content h2 {
    font-family:'Raleway', sans-serif;
    color: #f9f9f9;
    font-weight:400;
    margin-bottom:5px;
    padding:0px;
    margin-top:0px;
    font-size:22px;
}
#spotlight-content h1 {
    font-family:'Raleway', sans-serif;
    color: white;
    margin-bottom:-25px;
    padding:0px;
    margin-top:0px;
    font-size:90px;
}
#spotlight-content button {
    font-family: 'Kanit', sans-serif;
    font-size:16px;
    margin-top:30px;
    height:40px;
    color: white;
    font-weight:500;
    background-color: #262626;
    border-radius:50px;
    border:none;
    width:150px;
    transition: 0.3s;
    cursor: pointer;
}
#spotlight-content button:hover {
    background-color: white;
    transition: 0.3s;
    color: #262626;
}
#content-container {
    width:1250px;
    height:190px;
    position: relative;
    top:-10vh;
    background-color: #262626;
    margin-left:auto;
    margin-right:auto;
}
.attraction-column {
    width:31%;
    height:auto;
    margin-left:20px;
    margin-top:45px;
    float: left;
    text-align: left;
}
.attraction-column i {
    color: #d6d6d6;
    padding:20px;
    position: relative;
    top:-10px;
    display: inline;
    border:2px solid deeppink;
    border-radius: 500px;
    background-color: #484848;
    font-size:50px;
}
.attraction-column h2 {
    color: white;
    font-family:'Raleway', sans-serif;
    font-size:18px;
    font-weight:700;
}
.attraction-column h3 {
    font-weight:400;
    color: #b4b4b4;
    font-family:'Raleway', sans-serif;
    font-size:14px;
}
.attraction-column-inner {
    display: inline-block;
    width:250px;
    padding-left:10px;
}
#blurb-container {
    width:1250px;
    height:600px;
    margin-right:auto;
    margin-left:auto;
}
#blurb-container img {
    float: right;
    display: block;
}
#blurb-container h2 {
    font-family:'Raleway', sans-serif;
    font-size:40px;
    color: #262626;
    display:block;
}
#blurb-container p {
    font-family:'Raleway', sans-serif;
    font-size:16px;
    color: #262626;
    display: block;
}
#blurb-left {
    width:45%;
    height:auto;
    display: inline-block;
}
#footer {
    background-color: #3b3e43;
    width:100%;
    height:250px;
    padding-top:50px;
}
#footer-inner {
    width:1250px;
    height:200px;
    margin-left:auto;
    line-height:200px;
    margin-right:auto;
}
#footer-inner img {
    float: left;
    margin-top:65px;
}
#footer-quick {
    width:300px;
    display: inline-block;
    margin-left:30px;
    height:160px;
    margin-top:15px;
    line-height: 20px;
}
#footer-quick h2 {
    font-family:'Raleway', sans-serif;
    font-size:20px;
    color: #eeeeee;
}
#footer-quick a {
    margin:0;
    padding:0;
    font-family:'Raleway', sans-serif;
    font-size:14px;
    color: #bababa;
}
#footer-quick a:hover {
    color: white;
}